{% extends "base.html" %}

{% block content %}
   <h3>Please input your email address to get password</h3>
   <br>
   <form method="post" role="form" class="Form-Reset" action="">
       {{ form.csrf_token}}
       <p>
           {{form.email(placeholder='Email')}}
           {% for err in form.email.errors %}
               <span class="alert-danger">{{err}}</span>
           {% endfor %}
       </p>
       <p><input type="submit"></p>
       <p>New<a href="{{url_for('user.register')}}">Register?</a></p>
       <p><a href="{{url_for('user.login')}}">Login</a></p>
   </form> 
{% endblock %}
