{% extends 'base.html' %}
{% block content %}
    <p>Reset Password:</p>
    <form role="form" class="form-reset" method="post" action="/applyreset/">
        {{ form.csrf_token }}
        <p> {{form.email}} </p>
        <p>
            {{form.password(placeholder='New password')}}
            <span class="alert-danger">
                {% for err in form.email.errors %}
                   {{err}}
                {% endfor %}
            </span>
        </p>
        <p>
           {{form.confirm(placeholder='Repeat New Password')}}
           <span class="alert-danger">
               {% for err in form.confirm.errors %}
                   {{err}}
               {% endfor %}
           </span>
        </p>
        <button class="btn btn-success" type="submit">Reset</reset>
    </form>
{% endblock %}
